@media only screen and (min-width: 601px) {
.achievement {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right,white,black);
    max-width: 1200px;
  }
  .promosi {
    display:none;
  } 
   .card {
    position: relative;
    width: 300px;
    align-items: center;
    height: auto;
    margin: 20px;
    background-color: #eee;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.ilustrasi h3,
.ilustrasi h1 {
    text-align: center;
}
.ilustrasi a{
    text-decoration: none;
    color : white
}
.ilustrasi button {
 text-align: center;
 text-decoration: none;
 width: 100%;
 background-color: grey;
 color : white;
 border-radius: 20px;
}
.ilustrasi button:hover {
    background-color: black;
    color :aliceblue;
}
  
  .card:hover .card-overlay {
    transform: translateY(0);
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card h2 {
    margin-top: 0;
  }
  
  .card p {
    margin-bottom: 0;
  }
  
  .card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
  }
  
  #card1 .card-overlay {
    background-image: url('background1.jpg');
    background-size: cover;
  }
  
  #card2 .card-overlay {
    background-image: url('background2.jpg');
    background-size: cover;
  }
  
  #card3 .card-overlay {
    background-image: url('background3.jpg');
    background-size: cover;
  }
  
  #card4 .card-overlay {
    background-image: url('background4.jpg');
    background-size: cover;
  }
  
  #card5 .card-overlay {
    background-image: url('background5.jpg');
    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
    .achievement {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        background: linear-gradient(to bottom right,white,black);
    }
    .card {
        position: relative;
        width: 300px;
        align-items: center;
        height: auto;
        margin: 20px;
        background-color: #eee;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    .ilustrasi {
        display: none;
    }
    .promosi {
        display:block;
    }
    .promosi button{
        width: 100%;
        border-radius: 20px;
        background-color: grey;
        color: white;
        height: 20px;
    }
    .promosi a{
        text-decoration: none;
        color: white;
        text-align: center;
    }
    .promosi button:hover {
        background-color: black;
        color: aliceblue;
        animation-delay: 0.5s;
    }

  }
  
  