/* Stylesheet untuk layar dengan lebar 600px atau lebih kecil */
@media only screen and (max-width: 600px) {

    /* Mengatur ukuran font */
    body {
      font-size: 16px;
    }
/* mengatur ukuran tombol pada bagian navbar */

    .navbar-menu {
      display: none;
    }
    
    .burger {
      display: block;
    }
    
    .navbar-logo h1 {
      font-size: 1.5rem;
    }
    
    .navbar {
      position: relative;
      height: 80px;
    }
    
    .navbar-toggle {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 100;

    }
    
    .navbar-toggle .bar {
      display: flex;
      flex-direction: column;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background-color: #000;
    }

    .navbar-menu-open {
      display: flex;
      flex-direction: column;
      position: absolute;
      align-content: center;
      top: 80px;
      right: 0;
      background-color: #fff;
      width: 100%;
      padding: 20px 0;
      text-align: center;
      z-index: 99;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    
    .navbar-menu-open button {
      margin: auto;
      border-radius: 20px;
      width: 90%;
      font-size: 1.2rem;
      padding-top: 10px;
      background-color: grey;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      text-align: center;
      align-items: center;
    }
    .navbar-menu-open a{
        text-decoration: none;
        color: #fff;
    }
    
    .navbar-menu-open button:hover {
      background-color: #000;
    }
    /* akhir konten navbar */
  
    /* Mengatur padding pada konten utama */
    main {
      padding: 20px;

    }
    /* mengatur section hiro */
    /* mengatur style title */
    .title {
        text-align: center;
    }
    /* akhir style title */
    /* mengatur ukuran gambar di bagian slideshow */
    .slideshow-container {
        max-width: 600px;
        position: relative;
        margin: auto;
      }
      
      .mySlides {
        display: none;
        width: 100%;
        height: auto;
      }
      .prev, .next {
        position: absolute;
        top: 50%;
        width: auto;
        padding: 8px;
        margin-top: -11px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      /* akhir bagian slideshow */
    /* akhir bagian hiro */

    /* Mengatur section progress */
    .progress {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .progress-img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .progress .img {
      width: 60px;
      border-radius: 9999px;
    }

    .progress h1 {
        text-align: center;
        font-size: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    .arrow-destop{
        display: none;
    }
    /* akhir section progress */
/* mengatur section pesan */
.form-container {
    padding-top: 10px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-group {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group input[type="date"],
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .radio-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .form-group input[type="submit"] {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  .form-output {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
  }
  }
@media only screen and (min-width: 600px){
body {
    margin: 0px;
}
.container {
    margin-top: 8vh;
    margin-bottom: 5vh;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
/* navbar css */
.navbar-logo h1{
    font-size: 42px;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar-menu{
    justify-content: right;
}
.navbar-toggle{
    display: block;
}
.navbar-menu button {
    background-color: black;
}
.navbar-menu a{
    text-decoration: none;
    text-align: center;
    font-size: medium;
    color : white;
    background-color: black;
}
.navmenu button:hover {
    background-color: grey;
    color: black;
}

.active {
    background-color: grey;
    color: black;
}

/* navbar css selesai */

/* hero css */
.hero {
    padding-top: 20px;
}
.slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    width: 100%;
    height: auto;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
/* hero css selesai  */

/* progress css */
.progress {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.baris1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.baris2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.progress h1 {
text-align: center;
font-size: 100px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.arrow-mobile {
display: none;
}
.img {
    border-radius: 50%;
    width: 15vw;
    height: 30vh;
}

.desc {
    display: block;
    font-size: x-large;
    text-align: center;
}
/* progress css selesai */
/* message css  */
.form-container {
    padding-top: 10px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-group {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group input[type="date"],
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .radio-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .form-group input[type="submit"] {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  .form-output {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
  }
  

  
/* message css selesai */
/* footer css  */
footer p {
    text-align: right;
    padding-bottom: 4vh;
    padding-right: 2vw;
}
/* footer css selesai */
}