
.container-form {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.help-form label {
    width: 100%;
}
.help-form input[type="text"],
.help-form input[type="email"] {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  th,
  td {
    padding: 0.5rem;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  th {
    font-weight: bold;
    background-color: #f8f9fa;
    justify-content: space-around;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
