/* mengatur container */
.container {
    margin-top: 8vh;
    margin-bottom: 5vh;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
/* akhir dari container */
/* awal dari style hero */
.hero {
    background: linear-gradient(to bottom right,white,black);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.hero h1 {
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 2px #333;
    margin-bottom: 20px;
}
.hero p {
    color: #fff;
    font-size: 30px;
    text-shadow: 2px 2px #333;
    margin-bottom: 20px;
}
/* akhir dari hero */
/* awal dari galeri section */
.gallery {
    background-color: #fff;
    padding: 50px 0;
  }
  
  .gallery h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .image {
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 0 10px 20px;
  }
  
  .image img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }
  
  .image:hover .image-overlay {
    opacity: 1;
  }
  /* akhir dari galeri section */
  /* awal about section */
.about {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about img {
    width: 50%;
    height: auto;
    margin-right: 50px;
}

.about p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.about button {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: grey;
    color: white;
    text-align: center;
    text-decoration: none;
}
.about a {
    text-decoration: none;
    color: white;
}
.about button:hover {
    background-color: black;
    animation-delay: 0.2ms;
}
/* akhir about section */

  @media only screen and (max-width: 600px) {
    .hero h1 {
        font-size: 36px;
    }
    .hero p {
        font-size: 24px;
    }
    .about {
        flex-direction: column;
        text-align: center;
    }
    .about img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .image-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
    }
    .image-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 10px;
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
    }
    
    .image:hover .image-overlay {
      opacity: 1;
    }
    .image {
      position: relative;
      overflow: hidden;
      width: 300px;
      margin: 0 10px 20px;
    }
}
  